html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.button-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.action-button {
    padding: 8px 12px;
    margin: 12px 0 12px 12px;
    font-size: 14px;
}

.test-box {
    position: relative;
    margin: 100px;
    width: 300px;
    height: 300px;
    background-color: #efefef;
    border: 24px solid gray;
    border-radius: 35px;
    overflow: hidden;
    will-change: transform;
}

.paralax, .zoom {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px;
    border-radius: 50%;
    background-color: #c00;
    border: 6px solid gray;

    transition: transform .1s ease-out;
}

.zoom {
    transition: transform .3s ease-out;
}

.show-me:not(.inview-completely) .zoom {
    transform: scale(0);
}

.show-me.inview-completely .zoom {
    transform: scale(4);
}

.rotate {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 50%;
    top: 50%;
    margin: -70px;
    background-color: #c00;
    border: 6px solid gray;
    border-radius: 6px;
    box-sizing: border-box;

    transition: transform .1s ease-out;
}

.inview:not(.inview-completely) .rotate {
    background-color: #0c0;
}

.stay {
    position: absolute;
    height: 10%;
    width: 100%;
    top: 50%;
    margin-top: -5%;
    text-align: center;
    line-height: 2;
    font-family: Verdana;
    color: white;
    transform: scale(3);
    transition: transform .5s ease-out;
}

.test-box:not(.inview) .stay {
    transform: scale(0);
}

.inview-completely .stay {
    color: black;
}

.scale {
    transition: transform .1s ease-out;
}

.inview {
	background-color: #00C;
}
.inview-top {
	border-top-color: #C00;
}
.inview-bottom {
	border-bottom-color: #C00;
}
.inview-completely {
	background-color: #0C0;
}